* {
    margin: 0px;
    padding: 0px;
}
#home , #home:hover{
    font-size: 1.5em;
    text-decoration:none
}
.h2 {
    margin-top: 20px;
}
.nav-link{
    font-size: 1.2em;
}
section {
    margin-top: 20px;
    background-color: aquamarine;
    width: 100%;
}
section p {
    margin: 20px;
    text-align: justify;
    font-size: 1.2em;
}